@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100&family=Open+Sans:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    font-family: 'Open Sans', sans-serif;
    @apply antialiased bg-gray-100
  }
  html::-webkit-scrollbar {
    display: none;
  }
  html {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer components {
  html, body, #__nuxt, #__layout {
    @apply h-full w-full
  }
  .root-div {
    @apply max-w-screen-lg min-w-[1200px] mx-auto
  }
}

